# Titanic - Machine Learning from Disaster

https://www.kaggle.com/c/titanic/overview

# Importando bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

warnings.filterwarnings('ignore')
sns.set()

In [2]:
print(f'Pandas: {pd.__version__}')
print(f'Numpy: {np.__version__}')
print(f'Seaborn: {sns.__version__}')

Pandas: 1.0.1
Numpy: 1.18.1
Seaborn: 0.10.0

# Importando dados

In [3]:
dir_path = '../data/input/'
train_file = 'train.csv'
test_file = 'test.csv'

In [4]:
df_train = pd.read_csv(dir_path + train_file, index_col = 'PassengerId')
df_test = pd.read_csv(dir_path + test_file, index_col = 'PassengerId')

In [5]:
df_train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df_train.describe(include='all')

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,"Kimball, Mr. Edwin Nelson Jr",male,NaN,NaN,NaN,1601,NaN,G6,S
freq,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

# Funções

In [8]:
def separar_nome(df):
    df['Title'] = df.Name.str.extract(r' ([A-Za-z]+)\. ', expand = False)
    df['FamilyName'] = df.Name.str.extract(r'([A-Za-z]+),', expand = False)
    return df

def preencher_idade(df):
    df['Age'] = df['Age'].groupby([df['Sex'], df['Title']]).apply(lambda x: x.fillna( np.round(x.mean()) ))
    df['Age'][df.Age.isna() == True] = df['Age'].value_counts().index[0]
    df['Age'] = df['Age'].round(0)
    return df

def preencher_embarque(df):
    df['Embarked'][df.Embarked.isna() == True] = df['Embarked'].value_counts().index[0]
    return df

def preencher_tarifa(df):
    df['Fare'][df.Fare.isna() == True] = df['Fare'].value_counts().index[0]
    return df

def preencher_tam_familia(df):
    df['FamilySize'] = df['Parch'] + df['SibSp'] + 1
    return df

def remover_colunas(df):
    return df.drop(['Ticket','Cabin', 'SibSp', 'Parch', 'Name', 'FamilyName', 'Fare'], axis=1)

def preencher_intervalo_idade(df):
    bins = [0, 12, 18, 45, 60, 80]
    df['AgeBins'] = pd.cut(x = df.Age, bins=bins)
    return df

## Separando o nome

In [9]:
df_train.iloc[0:4].Name

PassengerId
1                              Braund, Mr. Owen Harris
2    Cumings, Mrs. John Bradley (Florence Briggs Th...
3                               Heikkinen, Miss. Laina
4         Futrelle, Mrs. Jacques Heath (Lily May Peel)
Name: Name, dtype: object

In [10]:
# Title
df_train.Name.str.extract(r' ([A-Za-z]+)\. ', expand=False)

PassengerId
1        Mr
2       Mrs
3      Miss
4       Mrs
5        Mr
       ...
887     Rev
888    Miss
889    Miss
890      Mr
891      Mr
Name: Name, Length: 891, dtype: object

In [11]:
# Family Name
df_train.Name.str.extract(r'([A-Za-z]+),', expand=False)

PassengerId
1         Braund
2        Cumings
3      Heikkinen
4       Futrelle
5          Allen
         ...
887     Montvila
888       Graham
889     Johnston
890         Behr
891       Dooley
Name: Name, Length: 891, dtype: object

In [12]:
df_train = separar_nome(df_train)
df_train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilyName
PassengerId,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,Braund
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,Cumings
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,Heikkinen
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,Futrelle
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,Allen

In [13]:
pd.DataFrame(df_train.groupby(['Title'])['Survived'].count())

          Survived
Title
Capt             1
Col              2
Countess         1
Don              1
Dr               7
Jonkheer         1
Lady             1
Major            2
Master          40
Miss           182
Mlle             2
Mme              1
Mr             517
Mrs            125
Ms               1
Rev              6
Sir              1

In [14]:
df_test = separar_nome(df_test)
df_test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilyName
PassengerId,,,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,Mr,Kelly
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,Mrs,Wilkes
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,Mr,Myles
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,Mr,Wirz
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,Mrs,Hirvonen

## Preenchendo as idades nulas

In [15]:
df_train.Age.isna().sum()

177

In [16]:
# Qual agrupamento não possui idade?
df_train[df_train.Age.isna() == True].groupby(by=['Sex','Title'])['Survived'].count().reset_index()

      Sex   Title  Survived
0  female    Miss        36
1  female     Mrs        17
2    male      Dr         1
3    male  Master         4
4    male      Mr       119

In [17]:
df_train = preencher_idade(df_train)
df_train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilyName
PassengerId,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,Braund
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,Cumings
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,Heikkinen
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,Futrelle
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,Allen

In [18]:
df_test = preencher_idade(df_test)
df_test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilyName
PassengerId,,,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.0,0,0,330911,7.8292,NaN,Q,Mr,Kelly
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,Mrs,Wilkes
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,Mr,Myles
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,Mr,Wirz
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,Mrs,Hirvonen

In [19]:
df_train.Age.isna().sum()

0

In [20]:
df_test.Age.isna().sum()

0

## Preenchendo os Embarques nulos

In [21]:
df_train.Embarked.isna().sum()

2

In [22]:
df_train = preencher_embarque(df_train)
df_train.Embarked.isna().sum()

0

In [23]:
df_test = preencher_embarque(df_test)
df_test.Embarked.isna().sum()

0

## Preenchendo as Tarifas nulas

In [24]:
df_train.Fare.isna().sum()

0

In [25]:
df_test.Fare.isna().sum()

1

In [26]:
df_test = preencher_tarifa(df_test)

In [27]:
df_test.Fare.isna().sum()

0

## Adicionando o tamanho da família

In [28]:
df_train = preencher_tam_familia(df_train)

In [29]:
df_train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilyName,FamilySize
PassengerId,,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,Braund,2
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,Cumings,2
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,Heikkinen,1
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,Futrelle,2
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,Allen,1

In [30]:
df_test = preencher_tam_familia(df_test)

In [31]:
df_test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,FamilyName,FamilySize
PassengerId,,,,,,,,,,,,,
892,3,"Kelly, Mr. James",male,34.0,0,0,330911,7.8292,NaN,Q,Mr,Kelly,1
893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,Mrs,Wilkes,2
894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,Mr,Myles,1
895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,Mr,Wirz,1
896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,Mrs,Hirvonen,3

## Removendo algumas colunas não necessárias

In [32]:
df_train = remover_colunas(df_train)

In [33]:
df_train.head()

             Survived  Pclass     Sex   Age Embarked Title  FamilySize
PassengerId
1                   0       3    male  22.0        S    Mr           2
2                   1       1  female  38.0        C   Mrs           2
3                   1       3  female  26.0        S  Miss           1
4                   1       1  female  35.0        S   Mrs           2
5                   0       3    male  35.0        S    Mr           1

In [34]:
df_test = remover_colunas(df_test)

In [35]:
df_test.head()

             Pclass     Sex   Age Embarked Title  FamilySize
PassengerId
892               3    male  34.0        Q    Mr           1
893               3  female  47.0        S   Mrs           2
894               2    male  62.0        Q    Mr           1
895               3    male  27.0        S    Mr           1
896               3  female  22.0        S   Mrs           3

## Criando  bins para a idade

In [36]:
df_train = preencher_intervalo_idade(df_train)

In [37]:
df_train.AgeBins.value_counts()

(18, 45]    645
(45, 60]     81
(0, 12]      72
(12, 18]     70
(60, 80]     22
Name: AgeBins, dtype: int64

In [38]:
df_test = preencher_intervalo_idade(df_test)

In [39]:
df_test.AgeBins.value_counts()

(18, 45]    305
(45, 60]     42
(12, 18]     32
(0, 12]      27
(60, 80]     10
Name: AgeBins, dtype: int64

# Encoding Dados

In [40]:
df_all = pd.concat([df_train.drop('Survived', axis=1), df_test])

In [41]:
df_all.head()

             Pclass     Sex   Age Embarked Title  FamilySize   AgeBins
PassengerId
1                 3    male  22.0        S    Mr           2  (18, 45]
2                 1  female  38.0        C   Mrs           2  (18, 45]
3                 3  female  26.0        S  Miss           1  (18, 45]
4                 1  female  35.0        S   Mrs           2  (18, 45]
5                 3    male  35.0        S    Mr           1  (18, 45]

In [42]:
encoder = LabelEncoder()
encoder.fit(df_all.Sex)
df_all.Sex = encoder.transform(df_all.Sex)

In [43]:
encoder = LabelEncoder()
encoder.fit(df_all.Embarked)
df_all.Embarked = encoder.transform(df_all.Embarked)

In [44]:
encoder = LabelEncoder()
encoder.fit(df_all.Title)
df_all.Title = encoder.transform(df_all.Title)

In [45]:
df_all.head()

             Pclass  Sex   Age  Embarked  Title  FamilySize   AgeBins
PassengerId
1                 3    1  22.0         2     13           2  (18, 45]
2                 1    0  38.0         0     14           2  (18, 45]
3                 3    0  26.0         2     10           1  (18, 45]
4                 1    0  35.0         2     14           2  (18, 45]
5                 3    1  35.0         2     13           1  (18, 45]

In [46]:
df_all = pd.concat((df_all,
                    pd.get_dummies(df_all.Sex, prefix = 'Sex'),
                    pd.get_dummies(df_all.Pclass, prefix = 'Pclass'),
                    pd.get_dummies(df_all.Embarked, prefix = 'Embarked'),
                    pd.get_dummies(df_all.Title, prefix = 'Title'),
                    pd.get_dummies(df_all.AgeBins, prefix = 'AgeBin')), axis=1)

In [47]:
df_all.drop(['Pclass', 'Embarked', 'Title', 'AgeBins', 'Age', 'Sex'], axis=1, inplace=True)

In [48]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FamilySize       1309 non-null   int64
 1   Sex_0            1309 non-null   uint8
 2   Sex_1            1309 non-null   uint8
 3   Pclass_1         1309 non-null   uint8
 4   Pclass_2         1309 non-null   uint8
 5   Pclass_3         1309 non-null   uint8
 6   Embarked_0       1309 non-null   uint8
 7   Embarked_1       1309 non-null   uint8
 8   Embarked_2       1309 non-null   uint8
 9   Title_0          1309 non-null   uint8
 10  Title_1          1309 non-null   uint8
 11  Title_2          1309 non-null   uint8
 12  Title_3          1309 non-null   uint8
 13  Title_4          1309 non-null   uint8
 14  Title_5          1309 non-null   uint8
 15  Title_6          1309 non-null   uint8
 16  Title_7          1309 non-null   uint8
 17  Title_8          1309 non-null   uint8
 18  Title_9          1309 non-null   uint8
 19  Title_10         1309 non-null   uint8
 20  Title_11         1309 non-null   uint8
 21  Title_12         1309 non-null   uint8
 22  Title_13         1309 non-null   uint8
 23  Title_14         1309 non-null   uint8
 24  Title_15         1309 non-null   uint8
 25  Title_16         1309 non-null   uint8
 26  Title_17         1309 non-null   uint8
 27  AgeBin_(0, 12]   1309 non-null   uint8
 28  AgeBin_(12, 18]  1309 non-null   uint8
 29  AgeBin_(18, 45]  1309 non-null   uint8
 30  AgeBin_(45, 60]  1309 non-null   uint8
 31  AgeBin_(60, 80]  1309 non-null   uint8
dtypes: int64(1), uint8(31)
memory usage: 60.1 KB

# Nomeando os dados para treino

In [49]:
x_train = df_all.iloc[:891,]
x_test = df_all.iloc[891:,]

y_train = df_train.Survived

# Encontrando a melhor configuração para o Random Forest Classifier

In [50]:
rf = RandomForestClassifier(max_features='auto', 
                            oob_score=True, 
                            random_state=0, 
                            n_jobs=-1)

In [51]:
param_grid = { "criterion" : ["gini", "entropy"], 
              "min_samples_leaf" : [1, 5, 10], 
              "min_samples_split" : [2, 4, 10, 12, 16], 
              "n_estimators": [50, 100, 400, 700, 1000]}

In [52]:
gs = GridSearchCV(estimator=rf, param_grid=param_grid, scoring='accuracy', cv=3, n_jobs=-1)
gs = gs.fit(x_train, y_train)

In [53]:
print(gs.best_score_)
print(gs.best_params_)
print(gs.cv_results_)

0.8327721661054994
{'criterion': 'gini', 'min_samples_leaf': 5, 'min_samples_split': 12, 'n_estimators': 100}
{'mean_fit_time': array([0.22216098, 0.38784814, 1.25788816, 2.2530748 , 3.70146942,
       0.21144756, 0.4046874 , 1.56276735, 3.13927666, 4.06273826,
       0.26916901, 0.47348984, 1.81981746, 3.42363389, 4.25310946,
       0.20511778, 0.45837442, 2.00673564, 2.97311242, 4.24121213,
       0.1938146 , 0.44082038, 2.00408101, 3.60518416, 4.30780848,
       0.21809793, 0.44520831, 2.00672054, 3.49613031, 4.59204451,
       0.29225818, 0.4659605 , 1.91329638, 3.39519477, 4.3961587 ,
       0.21442691, 0.46457458, 1.82478595, 3.38431708, 4.41856901,
       0.20212611, 0.48902504, 1.98036949, 3.37471159, 4.64302039,
       0.24966566, 0.48144984, 1.94712512, 3.38760559, 4.40969944,
       0.26122006, 0.51462301, 1.91329734, 3.36577169, 3.90987523,
       0.25498454, 0.46907814, 1.68116975, 3.23056952, 4.48334138,
       0.25564949, 0.45777567, 1.88628793, 3.3550698 , 4.58075913,
       0.21684631, 0.46412452, 1.87830861, 3.42483958, 4.47104088,
       0.28756348, 0.50365265, 1.90657743, 3.32485485, 4.47959526,
       0.21110177, 0.49619897, 2.2127103 , 3.74427207, 4.86170562,
       0.30715823, 0.60405064, 2.11967786, 3.7118783 , 4.84437537,
       0.2380302 , 0.56050046, 2.17929196, 3.55362542, 5.34781583,
       0.34574143, 0.60804001, 2.35293357, 3.96607248, 4.89912295,
       0.36473457, 0.56316018, 2.0152758 , 3.59670687, 4.85334539,
       0.26373132, 0.55418356, 1.96308255, 3.56413349, 4.56944458,
       0.25797709, 0.62100561, 1.9248511 , 3.66651956, 4.9042085 ,
       0.32293065, 0.61045901, 2.02241437, 3.47104915, 4.62036085,
       0.29955594, 0.53556728, 1.99305503, 3.524189  , 4.75386484,
       0.26275206, 0.56349262, 2.06979696, 4.00783404, 5.52004353,
       0.30285692, 0.64388601, 2.60521579, 4.29079167, 5.46293966,
       0.35960325, 0.59308028, 2.56017756, 3.7699039 , 4.67775154,
       0.24700594, 0.51362578, 1.98236473, 3.38893501, 5.00148082,
       0.30418579, 0.51961001, 2.19868978, 3.81284579, 4.60420378,
       0.29088855, 0.56016827, 2.00663265, 3.14873052, 4.16436187]), 'std_fit_time': array([0.02268411, 0.00580285, 0.06899363, 0.04161099, 0.07600836,
       0.02565299, 0.03883782, 0.04361738, 0.12160682, 0.06399641,
       0.09729971, 0.01657289, 0.02400901, 0.13538816, 0.03708786,
       0.00600238, 0.03202866, 0.06310306, 0.07257174, 0.1194126 ,
       0.00463001, 0.02980736, 0.11559968, 0.14866569, 0.08079557,
       0.00048115, 0.01376955, 0.14340478, 0.30242366, 0.02240524,
       0.04366762, 0.03726682, 0.03107242, 0.12256194, 0.04027355,
       0.00430889, 0.01105664, 0.11380182, 0.12667479, 0.04436072,
       0.0118661 , 0.06094506, 0.06295759, 0.10951791, 0.01368267,
       0.02608717, 0.03792659, 0.07217805, 0.11010256, 0.04017798,
       0.04189502, 0.04887918, 0.09298261, 0.0089459 , 0.05949203,
       0.04618899, 0.03440732, 0.14076739, 0.07150337, 0.00773957,
       0.0442009 , 0.01692556, 0.07101066, 0.11967482, 0.06084157,
       0.00829165, 0.0295498 , 0.0879212 , 0.06263787, 0.09695162,
       0.04538578, 0.03175844, 0.07176076, 0.1424909 , 0.08878039,
       0.01885826, 0.10478423, 0.12262428, 0.1442541 , 0.01119463,
       0.0435999 , 0.03986285, 0.03732144, 0.16384049, 0.11510555,
       0.0094033 , 0.05093827, 0.11942881, 0.20234857, 0.04433555,
       0.01631369, 0.01929303, 0.1733977 , 0.06358468, 0.08331258,
       0.04058129, 0.0799578 , 0.08748614, 0.23930297, 0.08822862,
       0.05135498, 0.05659571, 0.07865387, 0.0527573 , 0.06019522,
       0.04973555, 0.03907299, 0.04506783, 0.21224894, 0.06017907,
       0.04299987, 0.08302436, 0.10296499, 0.15850867, 0.02664154,
       0.04989584, 0.01800755, 0.0395285 , 0.10368112, 0.0529308 ,
       0.04199216, 0.07159992, 0.09652449, 0.20328167, 0.04229391,
       0.04810262, 0.05025077, 0.15623323, 0.32050016, 0.08145763,
       0.0240692 , 0.03764727, 0.12137725, 0.34088737, 0.04103507,
       0.03437868, 0.07042318, 0.06057932, 0.2124436 , 0.05345304,
       0.04452062, 0.04585572, 0.11541763, 0.02634094, 0.08589126,
       0.05746735, 0.01246583, 0.01140053, 0.25871389, 0.0945171 ]), 'mean_score_time': array([0.1167597 , 0.12438957, 0.12233726, 0.2234954 , 0.26440517,
       0.11808888, 0.11963749, 0.11978571, 0.2406474 , 0.34521508,
       0.12194212, 0.16200622, 0.13474838, 0.22873394, 0.30290031,
       0.12898882, 0.12566408, 0.18816376, 0.23005144, 0.33665069,
       0.127352  , 0.12293728, 0.22480114, 0.22717698, 0.33776331,
       0.11676558, 0.12034504, 0.19182046, 0.23337611, 0.33442251,
       0.11731315, 0.11663389, 0.15766223, 0.23370806, 0.35146737,
       0.1146934 , 0.12034527, 0.1422948 , 0.22513763, 0.336965  ,
       0.11702092, 0.12034512, 0.19481238, 0.22709433, 0.34042366,
       0.14959979, 0.1216747 , 0.2270596 , 0.23053741, 0.33847928,
       0.12200737, 0.11904732, 0.22523212, 0.23570275, 0.33813636,
       0.11502584, 0.11602314, 0.11901522, 0.22847168, 0.33972462,
       0.11738729, 0.11835035, 0.19248557, 0.23001877, 0.36238996,
       0.11236636, 0.11532625, 0.15824413, 0.22373494, 0.34374682,
       0.11934765, 0.11901522, 0.15923063, 0.2993269 , 0.33842826,
       0.1110839 , 0.1213514 , 0.22672709, 0.30022883, 0.34175316,
       0.13663467, 0.1173532 , 0.22808599, 0.26894752, 0.34042343,
       0.12599603, 0.11502584, 0.2299312 , 0.26316571, 0.34530369,
       0.11835059, 0.11835051, 0.23870405, 0.23271108, 0.34651224,
       0.11537218, 0.11569063, 0.15526382, 0.26562246, 0.34640702,
       0.11746701, 0.12599707, 0.22516211, 0.26595585, 0.34208528,
       0.11369562, 0.13673957, 0.22374701, 0.27094467, 0.33842842,
       0.1271983 , 0.12268647, 0.19215314, 0.22807654, 0.33968989,
       0.11367202, 0.11967985, 0.23038371, 0.23703265, 0.33942572,
       0.11677742, 0.12036117, 0.19614275, 0.26260241, 0.36900791,
       0.12233957, 0.12368131, 0.26640264, 0.27393325, 0.33981721,
       0.14029964, 0.13098677, 0.23622759, 0.26795006, 0.34274936,
       0.12400174, 0.11968025, 0.19315004, 0.22241664, 0.33971945,
       0.11336342, 0.11671623, 0.24672461, 0.27027742, 0.33310906,
       0.11835019, 0.11768516, 0.19590386, 0.22298201, 0.37115328]), 'std_score_time': array([0.00277109, 0.00242887, 0.0030792 , 0.00330548, 0.0501955 ,
       0.00836404, 0.01141934, 0.00948476, 0.01401192, 0.00205867,
       0.00796452, 0.02924175, 0.01128631, 0.00329351, 0.05119266,
       0.0004698 , 0.00776811, 0.04772158, 0.00339018, 0.00399023,
       0.00092255, 0.00521356, 0.00272014, 0.002449  , 0.00384814,
       0.00461913, 0.00285963, 0.04773504, 0.00081459, 0.00048163,
       0.00839828, 0.00435956, 0.05371458, 0.00384862, 0.00442186,
       0.00215402, 0.00401718, 0.02851143, 0.00574643, 0.00858253,
       0.00893272, 0.00169544, 0.05456137, 0.00549408, 0.00248791,
       0.04306675, 0.00215527, 0.00248808, 0.003336  , 0.00397421,
       0.00611193, 0.00444022, 0.00549763, 0.01243924, 0.00492152,
       0.00093976, 0.00339014, 0.00409852, 0.00638795, 0.00662297,
       0.00685119, 0.00235106, 0.04942619, 0.00406263, 0.04007897,
       0.00517147, 0.0020913 , 0.05083722, 0.00367221, 0.0028598 ,
       0.00286034, 0.00678001, 0.05182517, 0.05988352, 0.00329085,
       0.00174242, 0.0049072 , 0.00124354, 0.04797797, 0.00285952,
       0.01485976, 0.00124375, 0.00370602, 0.05177427, 0.00169458,
       0.02023244, 0.00329164, 0.00251412, 0.05059878, 0.0039792 ,
       0.00658184, 0.00896967, 0.00490977, 0.0083178 , 0.00328875,
       0.00168974, 0.00162879, 0.04819625, 0.05124613, 0.00470151,
       0.00477825, 0.01434569, 0.00111438, 0.05954224, 0.00293615,
       0.00430973, 0.01750937, 0.00755689, 0.04961383, 0.00169512,
       0.00397862, 0.00732889, 0.05007452, 0.00462351, 0.00397858,
       0.00144446, 0.00646338, 0.00081449, 0.00047036, 0.00658227,
       0.00163402, 0.00327304, 0.04157228, 0.01469234, 0.00636367,
       0.00329134, 0.0110152 , 0.07473005, 0.05114142, 0.00020003,
       0.02428914, 0.00824363, 0.00289511, 0.05395621, 0.00338965,
       0.0065315 , 0.00215454, 0.05275576, 0.00215966, 0.00271498,
       0.00124418, 0.00292658, 0.01491182, 0.04979336, 0.000814  ,
       0.00339028, 0.00373179, 0.05440997, 0.00560044, 0.05068237]), 'param_criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_samples_leaf': masked_array(data=[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
                   1, 1, 1, 1, 1, 1, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
                   5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 10, 10, 10,
                   10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
                   10, 10, 10, 10, 10, 10, 10, 10, 1, 1, 1, 1, 1, 1, 1, 1,
                   1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5,
                   5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
                   5, 5, 5, 5, 5, 5, 10, 10, 10, 10, 10, 10, 10, 10, 10,
                   10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
                   10, 10],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_samples_split': masked_array(data=[2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 10, 10, 10, 10, 10, 12,
                   12, 12, 12, 12, 16, 16, 16, 16, 16, 2, 2, 2, 2, 2, 4,
                   4, 4, 4, 4, 10, 10, 10, 10, 10, 12, 12, 12, 12, 12, 16,
                   16, 16, 16, 16, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 10, 10,
                   10, 10, 10, 12, 12, 12, 12, 12, 16, 16, 16, 16, 16, 2,
                   2, 2, 2, 2, 4, 4, 4, 4, 4, 10, 10, 10, 10, 10, 12, 12,
                   12, 12, 12, 16, 16, 16, 16, 16, 2, 2, 2, 2, 2, 4, 4, 4,
                   4, 4, 10, 10, 10, 10, 10, 12, 12, 12, 12, 12, 16, 16,
                   16, 16, 16, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 10, 10, 10,
                   10, 10, 12, 12, 12, 12, 12, 16, 16, 16, 16, 16],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[50, 100, 400, 700, 1000, 50, 100, 400, 700, 1000, 50,
                   100, 400, 700, 1000, 50, 100, 400, 700, 1000, 50, 100,
                   400, 700, 1000, 50, 100, 400, 700, 1000, 50, 100, 400,
                   700, 1000, 50, 100, 400, 700, 1000, 50, 100, 400, 700,
                   1000, 50, 100, 400, 700, 1000, 50, 100, 400, 700, 1000,
                   50, 100, 400, 700, 1000, 50, 100, 400, 700, 1000, 50,
                   100, 400, 700, 1000, 50, 100, 400, 700, 1000, 50, 100,
                   400, 700, 1000, 50, 100, 400, 700, 1000, 50, 100, 400,
                   700, 1000, 50, 100, 400, 700, 1000, 50, 100, 400, 700,
                   1000, 50, 100, 400, 700, 1000, 50, 100, 400, 700, 1000,
                   50, 100, 400, 700, 1000, 50, 100, 400, 700, 1000, 50,
                   100, 400, 700, 1000, 50, 100, 400, 700, 1000, 50, 100,
                   400, 700, 1000, 50, 100, 400, 700, 1000, 50, 100, 400,
                   700, 1000, 50, 100, 400, 700, 1000],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',

# Fazendo a classificação

In [54]:
rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=100,
                             min_samples_split=12,
                             min_samples_leaf=5,
                             max_features='auto',
                             oob_score=True,
                             random_state=0,
                             n_jobs=-1)

In [55]:
rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=12,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=True, random_state=0, verbose=0,
                       warm_start=False)

In [56]:
print("%.4f" % rf.oob_score_)

0.8361

In [57]:
pd.concat((pd.DataFrame(x_train.columns, columns = ['variable']), 
           pd.DataFrame(rf.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)[:20]

           variable  importance
1             Sex_0    0.202643
2             Sex_1    0.174728
22         Title_13    0.174274
5          Pclass_3    0.098606
0        FamilySize    0.076857
23         Title_14    0.061183
3          Pclass_1    0.051531
19         Title_10    0.050116
4          Pclass_2    0.023040
27   AgeBin_(0, 12]    0.020715
8        Embarked_2    0.015840
6        Embarked_0    0.013165
29  AgeBin_(18, 45]    0.010114
18          Title_9    0.009474
7        Embarked_1    0.007545
30  AgeBin_(45, 60]    0.004462
28  AgeBin_(12, 18]    0.002237
31  AgeBin_(60, 80]    0.001702
25         Title_16    0.001586
14          Title_5    0.000184

# Predições

In [58]:
y_pred = rf.predict(x_test)

In [59]:
prediction_df = pd.DataFrame({
    'PassengerId': x_test.index,
    'Survived': y_pred
})

In [60]:
prediction_df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

# Arquivo de saída

In [61]:
saida = '../data/output/submission.csv'

In [62]:
prediction_df.to_csv(saida, index=False)

print(f'File {saida} generated')

File ../data/output/submission.csv generated

# Pontuação

Scoring: 0.78229

Pos: 3758