In [31]:
import pandas as pd
import numpy as np
from scipy import stats

In [32]:
df = pd.DataFrame({
    'Anual income': [62000,64000,49000,324000,1264000,54330,64000,51000,55000,48000,53000]
})

In [33]:
df

    Anual income
0          62000
1          64000
2          49000
3         324000
4        1264000
5          54330
6          64000
7          51000
8          55000
9          48000
10         53000

In [34]:
# Cálculo das métricas
print("Média: {}".format(round(np.mean(df)[0])))
print("Mediana: {}".format(np.median(df)))
print("Mediana: {}".format(stats.mode(df)[0][0][0]))

Média: 189848.0
Mediana: 55000.0
Mediana: 64000